<!doctype html>

<html lang="en">
<head>
    <title>SkiEasy</title>
	<meta charset="UTF-8">
    {% load static %}
	<link rel="stylesheet" href="{% static 'skieasy_app/header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'skieasy_app/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'skieasy_app/details.css' %}" type="text/css">
    <link rel="icon" type="image/favicon.ico" href="{% static 'skieasy_app/icon.png' %}">
</head>
<body>
    <div id="header">
        <header>
            <a href="{% url 'home' %}"><img src="../../static/skieasy_app/icon.png" class="logo-image"></a>
            <nav>
                <a href="{% url 'home' %}">View All Listings</a>
                <a href="{% url 'manage' %}">Manage My Listings</a>
                <a href="{% url 'create' %}">Create A Listing</a>
            </nav>
        </header>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>