{% extends "skieasy_app/base.html" %}

{% block content %}
<h3> {{ title }}'s Listings </h3>
    <div id="listings">
        {% for list in listings %}
            <div class="card mb-4">
                <div class="card-content has-background-info-light">
                    <div class="content " >
                        <div id="list-{{ forloop.counter }}">
                            <p> <strong> Date:</strong> {{ list.start_date }} </p>
                            <p> <strong> Date: </strong>{{ list.end_date }} </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}