{% extends "skieasy_app/base.html" %}

{% block content %}
    <div id="equipment">
        {% for equip in items %}
            <div class="card mb-4" >
                <div class="card-header has-background-grey-lighter">
                    <div class="card-header-title ">
                                <strong><span> {{ equip.title }} </span></strong>
                    </div>
                </div>
                <div class="card-content has-background-white-bis">
                  <div class="content">
                    <div id="equip-{{ forloop.counter }}">
                        
                        <p> <strong>Description:</strong>  {{ equip.description }} </p>
                        <p> <strong>Price:</strong> {{ equip.price }} </p>
                        <p> <strong> Equipment Product Name: </strong>{{ equip.equipment_product_name }}</p>
                        <p> <strong> Bindings Product Name: </strong>{{ equip.bindings_product_name }}</p>
                        <p> <strong> Boots Product Name: </strong>{{ equip.boots_product_name }}</p>

                        <!-- <span> Equipment Product Name: {{ equip.equipment_product_name }} </span>
                        <span> Bindings Product Name: {{ equip.bindings_product_name }} </span>
                        <span> Boots Product Name: {{ equip.boots_product_name }} </span> -->
                        <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap">
                            <div class="tags has-addons mb-1">
                                <span class="tag">Equipment Height</span>
                                <span class="tag is-link">{{ equip.equipment_height }}<em>″</em></span>
                            </div>
                            <div class="tags has-addons mb-1">
                                <span class="tag">Boot Size</span>
                                <span class="tag is-info">{{ equip.boot_size }}<em><sub>&nbsp;US</sub></em></span>
                            </div>
                            <div class="tags has-addons mb-1">
                                <span class="tag">Type</span>
                                <span class="tag is-primary">{{ equip.equipment_type }}</span>
                            </div>
                            <div class="tags has-addons mb-1">
                                <span class="tag">Condition</span>
                                <span class="tag is-warning">{{ equip.wear_status }}</span>
                            </div>
                            <div class="tags has-addons mb-1">
                                <span class="tag">Skill Level</span>
                                <span class="tag is-danger">{{ equip.skill_level }}</span>
                            </div>
                        </div>
                        <a class="button is-primary" href="{% url 'equipment-details' equip.id %}"> View Equipment </a>
                        
                    </div>
                  </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}