{% extends "skieasy_app/header.html" %}

{% block content %}
    <div id="profile-form">
        <form method="post" action="{% url 'home' %}">
            <table class="profile-register-form">
                {{ form }}
            </table>
            <button type="submit">Register</button>
            {% csrf_token %}
        </form>

        {% for error in form.non_field_errors %}
            <p class="error">
                {{ error }}
            </p>
        {% endfor %}
    </div>

{% endblock %}