{% extends "skieasy_app/base.html" %}

{% block nav %}

{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'skieasy_app/welcome.css' %}" type="text/css">

<section class="hero is-info is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
        <div style="padding-bottom: 1.5rem;">
            <i class="fas fa-5x fa-mountain"></i>
            <i class="fas fa-5x fa-snowflake"></i>
            <i class="fas fa-5x fa-skiing"></i>
        </div>
        <p class="title">
            Welcome to SkiEasy
        </p>
        <p class="subtitle">
            Ski anytime, anywhere without having to bring your own gear!
        </p>
        <div class="field is-grouped is-align-items-center is-justify-content-center">
            <p class="control">
                <a href="{% url 'register' %}">
                    <button class="button is-rounded is-link">
                    Register
                    </button>
                </a>
            </p>
            <p class="control">
                <a href="{% url 'home' %}">
                    <button class="button is-rounded">
                    Login
                    </button>
                </a>
            </p>
        </div>
    </div>
  </div>

</section>

{% endblock %}